* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}


.container {
  align-items: stretch;
  justify-content: center;
  margin: auto;
  display: flex;
}

.tableContainer{
  justify-content: center;
  align-items: center;
}

h1 {
  float: left;
  color: white;
  padding: 10px;
  font-family: Sans-Serif;
  font-style: italic;

}

.container img {
  transform-origin: center;
  animation: MoveUpDown 20s linear infinite;
}

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(5px);
    }
    25% {
      transform: translateX(5px) translateY(-5px) rotateZ(5deg);
    }
    50% {
      transform: translateX(2.5px) translateY(2.5px) rotateZ(2.5deg);
    }
    75% {
      transform: translateX(-5px) translateY(-5px) rotateZ(-5deg);
    }
  }


.tableGrid{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(7, 1fr); /* 7 columns of equal width */
    grid-template-rows: 5fr repeat(13, 0.6in); /* 14 rows with one being larger and the rest being smaller */
    grid-auto-rows: 0;
    grid-auto-columns: 0;
    grid-auto-flow: none;
    height: 70vh;
    width: 70vw;
    padding-left: 15vw; 
    padding-right: 15vw; 
    overflow: visible;
    justify-content: center;
}

  
/* Card container stylings */
.cardContainer{
  display: grid; 
  position: relative;
  max-width: 100%;
  /* overflow: visible; */
  /* border: 2px solid black; Border for all sides */
  justify-items: center; /*centers the card in the middle of the container
  /* min-height: auto; */
  /* box-sizing: border-box; Try adjusting box sizing */
}


.tableGrid img{
  display: block;
  width: 100%;
  height: 100%; 
  max-width: 90%; 
  max-height: auto; 
  object-fit: contain;
}

/* 
.cardContainer img{
  display: block;
  width: 100%;
  height: 100%; 
  max-width: 90%; 
  max-height: auto; 
  object-fit: contain;
} */

.cardContainer .middle1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  padding: 10px 20px;
  font-size: 5vw;
  text-align: center;
}

.cardContainer .middle2{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
  padding: 10px 20px;
  font-size: 5vw;
  text-align: center;
}

.cardContainer .topLeft1{
  position: absolute;
  top: 0%;
  left: 25%;
  transform: translate(-50%, -90%);
  color: white;
  font-size: 2.3vw;
  text-align: center;
}

.cardContainer .topLeft2{
  position: absolute;
  top: 0%;
  left: 25%;
  transform: translate(-50%, -90%);
  color: white;
  font-size: 2.3vw;
  text-align: center;
}

